Babel==2.15.0
cryptography==43.0.0
Django==4.2.16
django-appconf==1.1.0
django-cors-headers==4.5.0
django-crontab==0.7.1
django-cryptography==1.1
django-dbbackup==4.2.1
django-filter==24.3
django-form-utils==1.0.3
django-import-export==4.3.7
django-otp==1.5.4
django-rest-swagger==2.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
fastjsonschema==2.20.0
mysql-connector-python==9.0.0
mysqlclient==2.2.4
numpy==1.26.4
pandas==2.2.2
pillow==11.0.0
pipreqs==0.5.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
qrcode==8.0
requests==2.32.3
rest-framework-simplejwt==0.0.2
rest_framework_swagger_zl==0.0.4
segno==1.6.6
selenium==4.31.0
simplejson==3.19.3
sqlparse==0.5.1
tinycss2==1.3.0
urllib3==2.2.2
websocket-client==1.8.0